<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/templates/style.css">
    <script src="alarm.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Oswald:wght@500&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="main">
        <h3 id="greet"></h3>
        <h3 id="time"></h3>
        <h4 id="quote"></h4>
        <button class="btn" onclick="getUsers()">Greet</button>
    </div>

</body>

</html>